.customCalendarHeader
{
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.customCalendarHeader .MuiPickersCalendarHeader-root
{
  background-color: var(--mui-primary-main);
  color: white;
  margin-top: 0;
}

.MuiDateCalendar-root
{
    min-height: 450px;
    min-width: 500px;
}

.MuiDateCalendar-root span
{
    font-size: larger;
}

.MuiDateCalendar-root div
{
    font-size: larger;
}

.MuiDayCalendar-root button
{
    font-size: 100%;
    min-width: 50px;
    min-height: 50px;
}

div[role="gridcell"]
{
    min-width: 50px;
    min-height: 50px;
}

.MuiYearCalendar-root 
{
    min-width: auto;
    min-height: auto;
}

.MuiYearCalendar-root button
{
    font-size: 100%;
}

span[role="columnheader"]
{
    margin-left: 16px;
    margin-right: 34px;
}

div[role="row"]
{
    justify-content: start;
}

.Titulo
{
    font-weight: bold;
    color: var(--mui-primary-main);
}


.Botao
{
    padding: 10px, 20px;
    border-radius: 2;
    :hover
    {
        background-color: var(--mui-primary-dark);
        box-shadow: 3;
    };
}


.Cartao
{
    border-radius: 3;
    box-shadow: 3;
}

