#errorPage {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: var(--dark-mode-main-color);
    color-scheme: dark;

    button {
        padding: 10px;
        padding-inline: 15px;
        cursor: pointer;
        justify-self: baseline;
        border-radius: 20px;
    }

    h2,
    h1 {
        color: white;
    }

    img {
        width: 200px;
        height: auto;
    }

    .errorLogo {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .errorText {
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;

        div {
            display: flex;
            justify-content: center;
            gap: 50px;
        }
    }
}