.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(45,45,45);
    background: radial-gradient(circle, rgba(45,45,45,1) 9%, rgba(45,45,45,1) 81%, rgba(85,59,38,1) 90%, rgba(158,85,24,1) 99%, rgba(223,108,12,1) 100%);
}

.logoLoading {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset;
}

.animatedLogo {
    width: 20%;
    height: auto;
    animation: spin 2.5s ease-in-out infinite;
    
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    80% {
        transform: rotate(360deg);
    }
    90% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
