.navItem{
   

    .navLink{
        border-bottom: none;
        text-decoration: none;
        font-size: 16px;
        padding: 4px, 0; 
        transition: color 0.3s ease-in-out; 
        color:  rgb(5, 5, 5);; 

        &:active,
        &:hover{
            color: var(--orange);
            border-bottom: 2px solid var(--orange);
        }
    }

    
}